div {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 25px;
}

button {
    margin: 5px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 32pt;
    background-color: #fafafa;
    border: 2px solid #666666;
}

button:hover,
button:focus {
    background-color: #666666;
    color: #fafafa;
    cursor: pointer;
}