.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    min-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.name,
.value {
    border: 1px solid black;
    padding: 10px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(250, 250, 250, .8);
}

.name {
    background-color: rgba(241, 241, 241, .8);
}

.first-left {
    border-top-left-radius: 5px;
}

.first-right {
    border-top-right-radius: 5px;
}

.last-left {
    border-bottom-left-radius: 5px;
}

.last-right {
    border-bottom-right-radius: 5px;
}

.field {
    color: darkgreen;
}

.remote {
    color: darkblue;
}

.conference {
    color: darkgoldenrod;
}

.meeting {
    color: darkviolet;
}

.out-of-office {
    color: darkorange;
}

.off {
    color: darkred;
}