<div class="grid">
    <ng-container *ngFor="let name of names">
      <div class="name" [ngClass]="names.indexOf(name) == 0 ? 'first-left' : names.indexOf(name) == names.length - 2 ? 'last-left' : ''">
        <span *ngIf="name.split(' ')[0] != 'Andrew'">{{name.split(" ")[0]}}</span>        
        <span *ngIf="name.split(' ')[0] == 'Andrew'">{{name.split(" ")[0] + " " + name.split(" ")[1].substring(0,1) + "."}}</span>
      </div>
      <div class="value" [ngClass]="displayMap.get(name) == 'Remote' ? 'remote' : 
                                    displayMap.get(name) == 'Sick' ? 'sick' : 
                                    displayMap.get(name) == 'Conference' ? 'conference' :
                                    displayMap.get(name) == 'Out of Office' ? 'out' : ''" [ngStyle]="names.indexOf(name) == 1 ? {'border-top-right-radius': '5px'} : names.indexOf(name) == names.length - 1 ? {'border-bottom-right-radius': '5px'} : null">
        <span>{{displayMap.get(name)}}</span>
      </div>
    </ng-container>
</div>
