.spring {
    background-image: url("../../public/spring.webp");
}

.summer {
    background-image: url("../../public/summer.jpg");
}

.fall {
    background-image: url("../../public/fall.jpg");
}

.winter {
    background-image: url("../../public/winter.jpg");
}

.halloween {
    background-image: url("../../public/halloween.png");
}

.remembrance {
    background-image: url("../../public/remembrance-day.jpg");
}