<app-clock></app-clock>

<div class="grid">
  <div class="name first-left">
    <span>Aaron</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Aaron McQuade') == 'Remote' ? 'remote' : 
                                remoteMap.get('Aaron McQuade') == 'Sick' ? 'sick' : 
                                remoteMap.get('Aaron McQuade') == 'Conference' ? 'conference' :
                                remoteMap.get('Aaron McQuade') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Aaron McQuade")}}</span>
  </div>
  <div class="name">
    <span>Alex</span>
  </div>
  <div class="value first-right" [ngClass]="remoteMap.get('Alex Fudge') == 'Remote' ? 'remote' : 
                                remoteMap.get('Alex Fudge') == 'Sick' ? 'sick' : 
                                remoteMap.get('Alex Fudge') == 'Conference' ? 'conference' :
                                remoteMap.get('Alex Fudge') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Alex Fudge")}}</span>
  </div>
  <div class="name">
    <span>Andrew D.</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Andrew Dunlop') == 'Remote' ? 'remote' : 
                                remoteMap.get('Andrew Dunlop') == 'Sick' ? 'sick' : 
                                remoteMap.get('Andrew Dunlop') == 'Conference' ? 'conference' :
                                remoteMap.get('Andrew Dunlop') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Andrew Dunlop")}}</span>
  </div>
  <div class="name">
    <span>Andrew L.</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Andrew Lebert') == 'Remote' ? 'remote' : 
                                remoteMap.get('Andrew Lebert') == 'Sick' ? 'sick' : 
                                remoteMap.get('Andrew Lebert') == 'Conference' ? 'conference' :
                                remoteMap.get('Andrew Lebert') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Andrew Lebert")}}</span>
  </div>
  <div class="name">
    <span>Andrew S.</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Andrew Smith') == 'Remote' ? 'remote' : 
                                remoteMap.get('Andrew Smith') == 'Sick' ? 'sick' : 
                                remoteMap.get('Andrew Smith') == 'Conference' ? 'conference' :
                                remoteMap.get('Andrew Smith') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Andrew Smith")}}</span>
  </div>
  <div class="name">
    <span>Anthony</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Anthony Walsh') == 'Remote' ? 'remote' : 
                                remoteMap.get('Anthony Walsh') == 'Sick' ? 'sick' : 
                                remoteMap.get('Anthony Walsh') == 'Conference' ? 'conference' :
                                remoteMap.get('Anthony Walsh') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Anthony Walsh")}}</span>
  </div>
  <div class="name">
    <span>Brad</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Brad Pilon') == 'Remote' ? 'remote' : 
                                remoteMap.get('Brad Pilon') == 'Sick' ? 'sick' : 
                                remoteMap.get('Brad Pilon') == 'Conference' ? 'conference' :
                                remoteMap.get('Brad Pilon') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Brad Pilon")}}</span>
  </div>
  <div class="name">
    <span>Corey</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Corey Graveline-Dumouchel') == 'Remote' ? 'remote' : 
                                remoteMap.get('Corey Graveline-Dumouchel') == 'Sick' ? 'sick' : 
                                remoteMap.get('Corey Graveline-Dumouchel') == 'Conference' ? 'conference' :
                                remoteMap.get('Corey Graveline-Dumouchel') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Corey Graveline-Dumouchel")}}</span>
  </div>
  <div class="name">
    <span>David</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('David Priebe') == 'Remote' ? 'remote' : 
                                remoteMap.get('David Priebe') == 'Sick' ? 'sick' : 
                                remoteMap.get('David Priebe') == 'Conference' ? 'conference' :
                                remoteMap.get('David Priebe') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("David Priebe")}}</span>
  </div>
  <div class="name">
    <span>Dean</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Dean Cybulski') == 'Remote' ? 'remote' : 
                                remoteMap.get('Dean Cybulski') == 'Sick' ? 'sick' : 
                                remoteMap.get('Dean Cybulski') == 'Conference' ? 'conference' :
                                remoteMap.get('Dean Cybulski') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Dean Cybulski")}}</span>
  </div>
  <div class="name">
    <span>Don</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Don White') == 'Remote' ? 'remote' : 
                                remoteMap.get('Don White') == 'Sick' ? 'sick' : 
                                remoteMap.get('Don White') == 'Conference' ? 'conference' :
                                remoteMap.get('Don White') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Don White")}}</span>
  </div>
  <div class="name">
    <span>Josh</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Josh Burton') == 'Remote' ? 'remote' : 
                                remoteMap.get('Josh Burton') == 'Sick' ? 'sick' : 
                                remoteMap.get('Josh Burton') == 'Conference' ? 'conference' :
                                remoteMap.get('Josh Burton') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Josh Burton")}}</span>
  </div>
  <div class="name">
    <span>Justin</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Justin Lepine') == 'Remote' ? 'remote' : 
                                remoteMap.get('Justin Lepine') == 'Sick' ? 'sick' : 
                                remoteMap.get('Justin Lepine') == 'Conference' ? 'conference' :
                                remoteMap.get('Justin Lepine') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Justin Lepine")}}</span>
  </div>
  <div class="name">
    <span>Matt</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Matt Beres') == 'Remote' ? 'remote' : 
                                remoteMap.get('Matt Beres') == 'Sick' ? 'sick' : 
                                remoteMap.get('Matt Beres') == 'Conference' ? 'conference' :
                                remoteMap.get('Matt Beres') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Matt Beres")}}</span>
  </div>
  <div class="name last-left">
    <span>Michelle</span>
  </div>
  <div class="value" [ngClass]="remoteMap.get('Michelle Rowe') == 'Remote' ? 'remote' : 
                                remoteMap.get('Michelle Rowe') == 'Sick' ? 'sick' : 
                                remoteMap.get('Michelle Rowe') == 'Conference' ? 'conference' :
                                remoteMap.get('Michelle Rowe') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Michelle Rowe")}}</span>
  </div>
  <div class="name">
    <span>Mitch</span>
  </div>
  <div class="value last-right" [ngClass]="remoteMap.get('Mitch Yackobeck') == 'Remote' ? 'remote' : 
                                remoteMap.get('Mitch Yackobeck') == 'Sick' ? 'sick' : 
                                remoteMap.get('Mitch Yackobeck') == 'Conference' ? 'conference' :
                                remoteMap.get('Mitch Yackobeck') == 'Out' ? 'out' : ''">
    <span>{{remoteMap.get("Mitch Yackobeck")}}</span>
  </div>
</div>
