<!-- <ul>
  <li *ngFor="let event of events">
    <h3>{{ event.summary }}</h3>
    <p>{{ event.description }}</p>
    <p>
      {{ event.start.dateTime ? event.start.dateTime : event.start.date }} -
      {{ event.end.dateTime ? event.end.dateTime : event.end.date }}
    </p>
    <p>{{ event.creator.email }}</p>
  </li>
</ul> -->

<div class="grid">
  <div class="name first-left">
    <span>Aaron</span>
  </div>
  <div class="value">
    <span class="sick">Sick</span>
  </div>
  <div class="name">
    <span>Alex</span>
  </div>
  <div class="value first-right">
    <span class="remote">Remote</span>    
  </div>
  <div class="name">
    <span>Andrew D.</span>
  </div>
  <div class="value">
    <span class="conference">Conference</span>    
  </div>
  <div class="name">
    <span>Andrew L.</span>
  </div>
  <div class="value">
    <span class="out">Out</span>    
  </div>
  <div class="name">
    <span>Andrew S.</span>
  </div>
  <div class="value">
    
  </div>
  <div class="name">
    <span>Anthony</span>
  </div>
  <div class="value">
    
  </div>
  <div class="name">
    <span>Brad</span>
  </div>
  <div class="value">
    
  </div>
  <div class="name">
    <span>Corey</span>
  </div>
  <div class="value">
    
  </div>
  <div class="name">
    <span>David</span>
  </div>
  <div class="value">
    
  </div>
  <div class="name">
    <span>Dean</span>
  </div>
  <div class="value">
    
  </div>
  <div class="name">
    <span>Don</span>
  </div>
  <div class="value">
    
  </div>
  <div class="name">
    <span>Josh</span>
  </div>
  <div class="value">
    
  </div>
  <div class="name">
    <span>Justin</span>
  </div>
  <div class="value">
    
  </div>
  <div class="name">
    <span>Matt</span>
  </div>
  <div class="value">
    
  </div>
  <div class="name last-left">
    <span>Michelle</span>
  </div>
  <div class="value">
    
  </div>
  <div class="name">
    <span>Mitch</span>
  </div>
  <div class="value last-right">
    
  </div>
</div>
